html
	head
		title Login
	body
		if(message)
			h4 #{message}
		form(action = "/users/login" method = "POST")
			input(name = "email" type = "text" required placeholder = "Email")
			input(name = "password" type = "password" required placeholder = "Password")
			button(type = "Submit") Log in