extends layout

block content
	if(message) 
		h4 #{message}
	form(action = "/users/signup" method = "POST")
		input(name="email" type="email" required placeholder="Email")
		input(name = "password" type = "password" required placeholder = "Password")
		button(type = "Submit") Sign me up!
